@model Exercise
@{
    ViewData["Title"] = "Task details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var status = "New";
    status = Model.Status == 1 ? "In Progress" : "Done";
}


<div class="row">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Start date</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Startdate</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">End date</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Enddate</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Status</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@status</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Description</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Description</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<br />
<a asp-action="AddImage" asp-controller="Images" asp-route-id="@Model.Taskid" class="btn btn-success">Add new image</a>
<div class="row">
    <div class="row">
        @foreach (var item in ViewBag.Images)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="~/images/@item.Imageurl"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="~/images/@item.Imageurl"
                         alt="Another alt text">
                </a>

                <a href="@Url.Action("DeleteImage","Images",new{taskID =Model.Taskid, item.Imageid})">Delete image</a>
            </div>
        }
    </div>


    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                        <i class="fa fa-arrow-left"></i>
                    </button>

                    <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>